In [1]:
#importing required libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
#Reading the CSV file
data=pd.read_csv(r"C:/Users/Dell/Desktop/ML-MAJOR/ipl2017.csv")

In [3]:
#loading few values
data.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [4]:
#check for 'n/a' in the entire dataset 
data.isnull().values.any()

False

In [5]:
#checking for null values and datatype in each column
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  object
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB

In [6]:
#Once again checking for missing values
data.isnull().sum()

mid               0
date              0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

In [9]:
#having a better look at 'venue' column 
data['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Saurashtra Cricket Association Stadium', 'Green Park'],
      dtype=object)

In [10]:
#having a better look at 'bat_team' column 
data['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [11]:
#having a better look at 'bowl_team' column 
data['bowl_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [12]:
#having a better look at 'batsman' column 
data['batsman'].unique()

array(['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey',
       'Mohammad Hafeez', 'PA Patel', 'ML Hayden', 'MEK Hussey',
       'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'T Kohli',
       'YK Pathan', 'SR Watson', 'M Kaif', 'DS Lehmann', 'RA Jadeja',
       'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'L Ronchi',
       'ST Jayasuriya', 'DJ Thornely', 'RV Uthappa', 'PR Shah',
       'AM Nayar', 'SM Pollock', 'Harbhajan Singh', 'AC Gilchrist',
       'Y Venugopal Rao', 'VVS Laxman', 'A Symonds', 'RG Sharma',
       'SB Styris', 'AS Yadav', 'SB Bangar', 'WPUJC Vaas', 'RP Singh',
       'K Goel', 'JR Hopes', 'KC Sangakkara', 'DPMD Jayawardene',
       'Yuvraj Singh', 'IK Pathan', 'S Sohal', 'B Lee', 'PP Chawla',
       'WA Mota', 'Shahid Afridi', 'RR Sarwan', 'S Sreesanth',
       'VRV Singh', 'S Chanderpaul', 'R Dravid', 'LRPL Taylor',
       'JH Kallis', 'V Kohli', 'MV Boucher', 'P Kumar', 'SB Joshi',
       'Z Khan', 'R Vinay Kumar', 'WP Saha', 'LR Shukla', 'AB Agarkar',
       'M Kartik', 'I Sharma', 'AM Rahane', 'DJ Bravo', 'MA Khote',
       'G Gambhir', 'V Sehwag', 'S Dhawan', 'Shoaib Malik', 'MK Tiwary',
       'KD Karthik', 'R Bhatia', 'MF Maharoof', 'VY Mahesh', 'DB Das',
       'HH Gibbs', 'DNT Zoysa', 'D Kalyankrishna', 'GC Smith',
       'SA Asnodkar', 'Sohail Tanvir', 'SP Fleming', 'S Vidyut',
       'JA Morkel', 'LPC Silva', 'DB Ravi Teja', 'SE Marsh',
       'YV Takawale', 'SS Tiwary', 'RR Raje', 'Joginder Sharma',
       'MS Gony', 'M Muralitharan', 'M Ntini', 'W Jaffer', 'CL White',
       'Misbah-ul-Haq', 'DT Patil', 'A Kumble', 'DW Steyn', 'S Anirudha',
       'MM Patel', 'AB de Villiers', 'A Chopra', 'BJ Hodge', 'T Taibu',
       'Umar Gul', 'PP Ojha', 'SP Goswami', 'B Akhil', 'Salman Butt',
       'TM Dilshan', 'A Mishra', 'J Arunkumar', 'Iqbal Abdulla',
       'CK Kapugedera', 'LA Pomersbach', 'Shoaib Akhtar', 'AB Dinda',
       'SR Tendulkar', 'B Chipli', 'DR Smith', 'SD Chitnis',
       'Kamran Akmal', 'TM Srivastava', 'MK Pandey', 'RR Powar',
       'JP Duminy', 'JD Ryder', 'KP Pietersen', 'CH Gayle',
       'MC Henriques', 'A Flintoff', 'FH Edwards', 'PC Valthaty',
       'RJ Quiney', 'AD Mascarenhas', 'AS Raut', 'Pankaj Singh',
       'RS Bopara', 'DL Vettori', 'M Manhas', 'PJ Sangwan', 'MN van Wyk',
       'AA Bilakhia', 'TL Suman', 'Shoaib Ahmed', 'GR Napier',
       'R Bishnoi', 'RE van der Merwe', 'KP Appanna', 'M Vijay',
       'SB Jakati', 'L Balaji', 'NV Ojha', 'LA Carseldine', 'RJ Harris',
       'D du Preez', 'DS Kulkarni', 'SM Harwood', 'Yashpal Singh',
       'AN Ghosh', 'AD Mathews', 'SM Katich', 'DA Warner', 'J Botha',
       'A Nehra', 'Mashrafe Mortaza', 'GJ Bailey', 'AB McDonald',
       'Y Nagar', 'Niraj Patel', 'T Henderson', 'A Singh', 'R Ashwin',
       'T Thushara', 'Mohammad Ashraful', 'CA Pujara', 'OA Shah',
       'AP Tare', 'AT Rayudu', 'R Sathish', 'R McLaren', 'MS Bisla',
       'YA Abdulla', 'EJG Morgan', 'AA Jhunjhunwala', 'P Dogra',
       'A Uniyal', 'KA Pollard', 'MJ Lumb', 'DR Martyn', 'S Narwal',
       'M Morkel', 'Anirudh Singh', 'Jaskaran Singh', 'FY Fazal',
       'AC Voges', 'MD Mishra', 'J Theron', 'R Sharma', 'Mandeep Singh',
       'KM Jadhav', 'SW Tait', 'PD Collingwood', 'VS Malik',
       'SJ Srivastava', 'AP Dole', 'Bipul Sharma', 'DE Bollinger',
       'BAW Mendis', 'B Sumanth', 'C Madan', 'AG Paunikar', 'AJ Finch',
       'MR Marsh', 'STR Binny', 'IR Jaggi', 'DT Christian', 'RV Gomez',
       'UBT Chand', 'UT Yadav', 'Sunny Singh', 'NJ Rimmington',
       'MA Agarwal', 'AUK Pathan', 'AL Menaria', 'DJ Jacobs',
       'WD Parnell', 'TD Paine', 'SB Wagh', 'AC Thomas', 'BJ Haddin',
       'NLTC Perera', 'MS Wade', 'JE Taylor', 'RN ten Doeschate',
       'SL Malinga', 'AG Murtaza', 'TR Birt', 'Harpreet Singh',
       'NL McCullum', 'DH Yagnik', 'AC Blizzard', 'M Klinger',
       'I Malhotra', 'A Mithun', 'P Parameswaran', 'AA Chavan',
       'ND Doshi', 'CJ Ferguson', 'B Kumar', 'S Rana', 'JEC Franklin',
       'Shakib Al Hasan', 'F du Plessis', 'SPD Smith', 'MN Samuels',
       'KK Cooper', 'HV Patel', 'Ankit Sharma', 'RE Levi', 'RR Bhatkal',
       'Harmeet Singh', 'BA Bhatt', 'CJ McKay', 'DJ Harris', 'N Saini',
       'DA Miller', 'Azhar Mahmood', 'A Ashish Reddy', 'V Pratap Singh',
       'BB Samantray', 'RJ Peterson', 'S Nadeem', 'VR Aaron', 'MJ Clarke',
       'AP Majumdar', 'Gurkeerat Singh', 'P Awana', 'SP Narine',
       'A Chandila', 'PA Reddy', 'MC Juneja', 'AD Russell', 'KK Nair',
       'KB Arun Karthik', 'GH Vihari', 'MDKJ Perera', 'R Shukla',
       'JD Unadkat', 'M Vohra', 'JP Faulkner', 'R Rampaul', 'BJ Rohrer',
       'Q de Kock', 'KV Sharma', 'SMSM Senanayake', 'LJ Wright',
       'X Thalaivan Sargunam', 'DJG Sammy', 'MG Johnson', 'A Mukund',
       'SV Samson', 'BMAJ Mendis', 'KL Rahul', 'CM Gautam',
       'KW Richardson', 'Parvez Rasool', 'GJ Maxwell', 'R Dhawan',
       'SA Yadav', 'CJ Anderson', 'JJ Bumrah', 'CA Lynn', 'MA Starc',
       'AR Patel', 'Sandeep Sharma', 'BR Dunk', 'Shivam Sharma',
       'LMP Simmons', 'VH Zol', 'BCJ Cutting', 'Mohammed Shami',
       'BE Hendricks', 'S Gopal', 'M de Lange', 'RR Rossouw', 'JO Holder',
       'JDS Neesham', 'Imran Tahir', 'MM Sharma', 'DJ Hooda', 'CH Morris',
       'SS Iyer', 'SA Abbott', 'AN Ahmed', 'YS Chahal', 'J Suchith',
       'P Negi', 'RG More', 'Anureet Singh', 'HH Pandya',
       'NM Coulter-Nile', 'PV Tambe', 'MJ McClenaghan', 'DJ Muthuswami',
       'SN Thakur', 'SN Khan', 'D Wiese', 'S Aravind', 'JC Buttler',
       'CR Brathwaite', 'MP Stoinis', 'C Munro', 'P Sahu', 'KH Pandya',
       'TG Southee', 'MJ Guptill', 'KJ Abbott', 'TM Head', 'AD Nath',
       'NS Naik', 'Ishan Kishan', 'SW Billings', 'RR Pant',
       'KS Williamson', 'KC Cariappa', 'PSP Handscomb', 'Sachin Baby',
       'J Yadav', 'UT Khawaja', 'HM Amla', 'BB Sran', 'N Rana',
       'F Behardien', 'ER Dwivedi', 'JJ Roy', 'BA Stokes', 'Vishnu Vinod',
       'TS Mills', 'Basil Thampi', 'CR Woakes', 'V Shankar',
       'Rashid Khan', 'RA Tripathi', 'RD Chahar', 'LH Ferguson',
       'C de Grandhomme', 'PJ Cummins', 'Mohammad Nabi', 'Kuldeep Yadav',
       'Washington Sundar', 'S Badree', 'A Choudhary', 'AR Bawne',
       'AJ Tye', 'Ankit Soni', 'K Rabada', 'AF Milne', 'SP Jackson',
       'Swapnil Singh', 'R Tewatia', 'AS Rajpoot'], dtype=object)

In [13]:
#having a better look at 'bowler' column 
data['bowler'].unique()

array(['P Kumar', 'Z Khan', 'AA Noffke', 'JH Kallis', 'SB Joshi',
       'CL White', 'B Lee', 'S Sreesanth', 'JR Hopes', 'IK Pathan',
       'K Goel', 'PP Chawla', 'WA Mota', 'GD McGrath', 'B Geeves',
       'MF Maharoof', 'R Bhatia', 'DL Vettori', 'R Vinay Kumar',
       'B Akhil', 'AB Dinda', 'I Sharma', 'AB Agarkar', 'M Kartik',
       'Mohammad Hafeez', 'DJ Hussey', 'MM Patel', 'SR Watson',
       'SK Trivedi', 'SK Warne', 'D Salunkhe', 'Pankaj Singh',
       'YK Pathan', 'Mohammad Asif', 'VY Mahesh', 'SM Pollock', 'A Nehra',
       'DS Kulkarni', 'Harbhajan Singh', 'DJ Bravo', 'VS Yeligati',
       'AM Nayar', 'MA Khote', 'Sohail Tanvir', 'JDP Oram', 'MS Gony',
       'P Amarnath', 'M Muralitharan', 'Joginder Sharma', 'RP Singh',
       'DNT Zoysa', 'SB Bangar', 'Shahid Afridi', 'PP Ojha',
       'D Kalyankrishna', 'VRV Singh', 'Yuvraj Singh', 'DW Steyn',
       'CRD Fernando', 'ST Jayasuriya', 'V Kohli', 'Gagandeep Singh',
       'Umar Gul', 'SC Ganguly', 'LR Shukla', 'PJ Sangwan',
       'Shoaib Malik', 'V Sehwag', 'A Kumble', 'DP Vijaykumar',
       'SB Styris', 'RR Raje', 'JA Morkel', 'L Balaji', 'CK Kapugedera',
       'DR Smith', 'WPUJC Vaas', 'Y Venugopal Rao', 'AD Mascarenhas',
       'A Mishra', 'DJ Thornely', 'PM Sarvesh Kumar', 'Abdur Razzak',
       'TM Dilshan', 'SD Chitnis', 'M Ntini', 'RR Powar', 'SK Raina',
       'BAW Mendis', 'T Thushara', 'A Flintoff', 'Kamran Khan',
       'T Henderson', 'FH Edwards', 'Harmeet Singh', 'KP Pietersen',
       'LRPL Taylor', 'JD Ryder', 'Anureet Singh', 'CH Gayle', 'RR Bose',
       'YA Abdulla', 'RS Bopara', 'SL Malinga', 'DP Nannes', 'RG Sharma',
       'Shoaib Ahmed', 'BJ Hodge', 'RA Jadeja', 'RE van der Merwe',
       'KP Appanna', 'JP Duminy', 'SR Tendulkar', 'VS Malik',
       'SM Harwood', 'AS Raut', 'D du Preez', 'RJ Harris', 'TL Suman',
       'A Singh', 'M Morkel', 'LA Carseldine', 'S Tyagi', 'SB Jakati',
       'A Mithun', 'AM Rahane', 'A Symonds', 'C Nanda', 'J Botha',
       'CK Langeveldt', 'SS Sarkar', 'AM Salvi', 'Jaskaran Singh',
       'SW Tait', 'A Uniyal', 'AA Jhunjhunwala', 'AD Mathews',
       'RS Gavaskar', 'R Ashwin', 'JM Kemp', 'S Ladda', 'SE Bond',
       'SJ Srivastava', 'Bipul Sharma', 'Y Nagar', 'UT Yadav',
       'MC Henriques', 'R McLaren', 'J Theron', 'S Narwal', 'AC Voges',
       'KAJ Roach', 'KA Pollard', 'C Ganapathy', 'SB Wagh', 'R Sharma',
       'AN Ahmed', 'R Sathish', 'AP Dole', 'FY Fazal', 'PD Collingwood',
       'MR Marsh', 'L Ablish', 'S Sriram', 'AB McDonald', 'DE Bollinger',
       'JD Unadkat', 'MK Tiwary', 'ND Doshi', 'Iqbal Abdulla',
       'AL Menaria', 'STR Binny', 'AUK Pathan', 'AG Murtaza',
       'JEC Franklin', 'AC Thomas', 'WD Parnell', 'M Manhas',
       'DT Christian', 'DB Ravi Teja', 'BA Bhatt', 'JJ van der Wath',
       'S Aravind', 'R Ninan', 'Shakib Al Hasan', 'NLTC Perera',
       'RV Gomez', 'PC Valthaty', 'S Nadeem', 'S Randiv',
       'J Syed Mohammad', 'NL McCullum', 'JE Taylor', 'KMDN Kulasekara',
       'TG Southee', 'P Parameswaran', 'S Dhawan', 'B Kumar', 'AA Kazi',
       'VR Aaron', 'P Prasanth', 'Y Gnaneswara Rao', 'AA Chavan',
       'RW Price', 'GJ Maxwell', 'JP Faulkner', 'DAJ Bracewell',
       'Ankit Sharma', 'DJ Harris', 'TP Sudhindra', 'SP Narine',
       'HV Patel', 'KK Cooper', 'GB Hogg', 'P Awana', 'MN Samuels',
       'AD Russell', 'Azhar Mahmood', 'A Chandila', 'P Negi',
       'RJ Peterson', 'CJ McKay', 'R Shukla', 'MJ Clarke',
       'V Pratap Singh', 'A Ashish Reddy', 'BW Hilfenhaus', 'K Upadhyay',
       'Sunny Gupta', 'MG Johnson', 'JJ Bumrah', 'AS Rajpoot',
       'B Laughlin', 'GH Vihari', 'Mohammed Shami', 'BMAJ Mendis',
       'CH Morris', 'Anand Rajan', 'AJ Finch', 'MM Sharma', 'KV Sharma',
       'SMSM Senanayake', 'R Rampaul', 'R Dhawan', 'JO Holder',
       'IC Pandey', 'LJ Wright', 'S Kaul', 'YS Chahal', 'KW Richardson',
       'DJG Sammy', 'Sandeep Sharma', 'PV Tambe', 'Parvez Rasool',
       'RN ten Doeschate', 'MG Neser', 'NM Coulter-Nile', 'CJ Anderson',
       'MA Starc', 'AR Patel', 'JDS Neesham', 'M Vijay', 'SA Yadav',
       'S Badree', 'R Tewatia', 'V Shankar', 'Imran Tahir',
       'Shivam Sharma', 'S Rana', 'BE Hendricks', 'PJ Cummins',
       'K Santokie', 'S Gopal', 'Karanveer Singh', 'DJ Muthuswami',
       'TA Boult', 'SA Abbott', 'DJ Hooda', 'P Suyal', 'J Suchith',
       'D Wiese', 'MJ McClenaghan', 'HH Pandya', 'RG More', 'GS Sandhu',
       'M de Lange', 'J Yadav', 'Gurkeerat Singh', 'M Ashwin',
       'JW Hastings', 'C Munro', 'Mustafizur Rahman', 'CR Brathwaite',
       'KJ Abbott', 'P Sahu', 'BB Sran', 'KH Pandya', 'S Kaushik',
       'T Shamsi', 'MP Stoinis', 'Swapnil Singh', 'SM Boland',
       'CJ Jordan', 'KC Cariappa', 'A Zampa', 'BCJ Cutting', 'DL Chahar',
       'KS Williamson', 'Kuldeep Yadav', 'TS Mills', 'A Choudhary',
       'TM Head', 'BA Stokes', 'CR Woakes', 'T Natarajan', 'Rashid Khan',
       'C de Grandhomme', 'Basil Thampi', 'AJ Tye', 'AF Milne',
       'K Rabada', 'Washington Sundar', 'SN Thakur', 'SS Agarwal',
       'NB Singh', 'Ankit Soni', 'Mohammad Nabi', 'Mohammed Siraj',
       'LH Ferguson'], dtype=object)

In [14]:
#having a better look at 'runs' column 
data['runs'].unique()

array([  1,   2,   3,   7,  11,  17,  21,  22,  26,  27,  32,  38,  39,
        43,  44,  50,  54,  55,  59,  60,  61,  62,  63,  64,  66,  67,
        68,  69,  70,  71,  72,  73,  74,  75,  77,  78,  79,  80,  86,
        87,  88,  92,  98, 102, 108, 110, 111, 112, 116, 118, 119, 123,
       124, 125, 126, 127, 128, 130, 134, 135, 141, 145, 147, 148, 154,
       155, 157, 158, 159, 161, 162, 168, 170, 172, 173, 174, 178, 179,
       185, 191, 195, 196, 200, 206, 212, 214, 216, 222,   0,   5,   9,
        13,  19,  20,  25,  28,  29,  33,  34,  42,  46,  52,  53,  57,
        58,  76,  82,  83,  85,  94,  95,  97, 103, 107, 113, 117, 129,
       131, 132, 133, 136, 142, 143, 150, 151, 167, 169, 171, 177, 181,
       182, 183, 187, 188, 190, 204, 205, 207, 213, 215, 221, 227, 231,
       232, 238, 240,   8,  18,  31,  36,  37,  40,  41,  45,  47,  48,
        49,  51,  56,  65,  84,  93,  96, 100, 104, 106, 109, 120, 121,
         4,  23,  35,  81,  99, 101, 105, 114, 137, 138, 149, 152, 163,
       164, 165,  10,  12,  14,  15,  16,  89,   6,  24, 115, 140, 153,
       156, 166,  30,  90, 122,  91, 139, 144, 192, 194, 201, 208, 160,
       186, 197, 198, 199, 203, 146, 175, 176, 180, 184, 189, 202, 193,
       209, 210, 211, 218, 220, 226, 228, 229, 235, 241, 242, 246, 223,
       230, 219, 224, 233, 234, 239, 245, 251, 252, 253, 259, 260, 262,
       263, 217, 225, 236, 248], dtype=int64)

In [15]:
#having a better look at 'wickets' column 
data['wickets'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [16]:
#having a better look at 'overs' column 
data['overs'].unique()

array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  1.1,  1.2,  1.3,  1.4,  1.5,
        1.6,  2.1,  2.2,  2.3,  2.4,  2.5,  2.6,  3. ,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  4.1,  4.2,  4.3,  4.4,  4.5,  4.6,  5.1,  5.2,
        5.3,  5.4,  5.5,  5.6,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,  7.1,
        7.2,  7.3,  7.4,  7.5,  7.6,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,
        9.1,  9.2,  9.3,  9.4,  9.5,  9.6, 10.1, 10.2, 10.3, 10.4, 10.5,
       10.6, 11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 12.1, 12.2, 12.3, 12.4,
       12.5, 12.6, 13.1, 13.2, 13.3, 13.4, 13.5, 13.6, 14.1, 14.2, 14.3,
       14.4, 14.5, 14.6, 15.1, 15.2, 15.3, 15.4, 15.5, 15.6, 16.1, 16.2,
       16.3, 16.4, 16.5, 16.6, 17.1, 17.2, 17.3, 17.4, 17.5, 17.6, 18.1,
       18.2, 18.3, 18.4, 18.5, 18.6, 19.1, 19.2, 19.3, 19.4, 19.5, 19.6,
       12. ,  4. ,  7. , 19. ,  9. ,  0. , 15. ,  5. , 16. ,  1. , 18. ,
        2. , 11. , 14. ,  6. , 13. ,  8. , 17. , 10. ])

In [17]:
#having a better look at 'runs_last_5' column 
data['runs_last_5'].unique()

array([  1,   2,   3,   7,  11,  17,  21,  22,  26,  27,  32,  38,  39,
        43,  44,  50,  54,  55,  59,  58,  52,  47,  45,  46,  41,  35,
        34,  30,  31,  24,  37,  40,  51,  61,  60,  62,  57,  56,  49,
        64,  67,  66,  71,  69,  68,   0,   5,   9,  13,  19,  20,  25,
        28,  29,  33,  42,  48,  53,  65,  63,  70,  72,  74,  79,  81,
        83,   8,  18,  36,  23,   4,  10,  12,  14,  15,  16,   6,  76,
        77,  80,  86,  75,  78,  85,  73,  88,  87,  93,  94,  89,  92,
        91,  82,  84,  95, 100, 104, 109, 110, 111, 113, 112], dtype=int64)

In [18]:
#having a better look at 'wickets_last_5' column 
data['wickets_last_5'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [19]:
#having a better look at 'striker' column 
data['striker'].unique()

array([  0,   4,   8,  14,  18,  22,  23,  29,  35,  39,  40,  41,  42,
        43,  44,  45,  46,  47,  48,  50,  51,  57,  58,  59,  65,  67,
        68,  72,  74,  78,  79,  80,  81,  83,  89,  93,  99, 101, 102,
       103, 109, 111, 113, 114, 118, 119, 125, 131, 135, 136, 142, 148,
       150, 152, 158,   1,   5,   9,  13,  15,  10,  20,  21,  25,  16,
        17,  19,  26,  28,  30,  36,  37,  52,  53,  63,  64,  75,  76,
        82,  86,  87,  95, 100, 106, 108, 116,   6,   7,   3,  11,  12,
        24,  32,  33,  34,  38,  27,   2,  31,  49,  55,  56,  60,  66,
        61,  71,  69,  70,  77,  91,  92,  94, 107, 112, 117,  54,  62,
        73,  88,  90,  85,  84,  97, 104, 110, 115, 105,  98,  96, 121,
       127, 120, 128, 122, 126, 137, 143, 147, 153, 154, 155, 156, 160,
       161, 165, 166, 167, 173, 174, 175, 124, 132, 133, 129, 123],
      dtype=int64)

In [20]:
#having a better look at 'non-striker' column 
data['non-striker'].unique()

array([  0,   4,   5,   9,  10,   1,   3,   6,   7,   8,  13,  19,  20,
         2,  11,  12,  14,  15,  21,  25,  31,  32,  26,  30,  16,  17,
        18,  27,  35,  36,  37,  41,  47,  48,  50,  51,  53,  22,  24,
        29,  33,  23,  28,  42,  46,  34,  43,  49,  45,  39,  44,  52,
        38,  54,  55,  40,  56,  58,  59,  60,  61,  62,  66,  67,  68,
        72,  73,  74,  75,  76,  78,  79,  63,  57,  64,  65,  69,  71,
        81,  82,  70,  80,  87,  93,  95,  97, 103, 109], dtype=int64)

In [21]:
#having a better look at 'total' column 
data['total'].unique()

array([222, 240, 129, 165, 110, 166, 142, 208, 214, 182, 135, 147, 154,
       158, 178, 137, 191, 164, 196, 169, 162, 109, 126, 144, 103, 187,
       140, 122, 181, 204, 156, 143, 133, 221, 194,  67, 197, 189, 175,
       176, 211, 174, 145, 192, 112, 163, 101, 179, 184, 150, 168, 149,
       139, 119, 148, 141, 153, 105, 116, 157, 123, 173, 120, 160, 134,
       188, 170, 146, 161, 212, 190, 203, 218,  92, 185, 151, 171, 136,
       155, 183, 180, 177, 172, 246, 200, 159, 138, 111, 130, 132,  82,
        95,  81, 118, 195, 231,  94, 205, 125,  97, 232, 152, 198, 128,
       193, 115, 131, 124, 207, 100, 186, 114, 215,  99, 209, 117, 263,
        80, 223, 106,  70, 201, 226, 199, 127, 167, 235, 113, 202, 121,
        98, 227, 248, 206, 213, 230,  73, 107], dtype=int64)

In [22]:
#droping unnecessary columns 
data1=data.drop(['mid','date'],axis=1)

In [23]:
data1.head()

,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [24]:
#so far we have found the data to be very accurate and with abnormaties 
#we can proceed to hot encoding from here on.

In [25]:
dummies1=pd.get_dummies(data1.venue)
dummies1.head()

,Barabati Stadium,Brabourne Stadium,Buffalo Park,De Beers Diamond Oval,Dr DY Patil Sports Academy,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium,Dubai International Cricket Stadium,Eden Gardens,Feroz Shah Kotla,Green Park,...,Saurashtra Cricket Association Stadium,Sawai Mansingh Stadium,Shaheed Veer Narayan Singh International Stadium,Sharjah Cricket Stadium,Sheikh Zayed Stadium,St George's Park,Subrata Roy Sahara Stadium,SuperSport Park,"Vidarbha Cricket Association Stadium, Jamtha",Wankhede Stadium
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
data2=pd.concat([data1,dummies1],axis='columns')
data2.head()

,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,...,Saurashtra Cricket Association Stadium,Sawai Mansingh Stadium,Shaheed Veer Narayan Singh International Stadium,Sharjah Cricket Stadium,Sheikh Zayed Stadium,St George's Park,Subrata Roy Sahara Stadium,SuperSport Park,"Vidarbha Cricket Association Stadium, Jamtha",Wankhede Stadium
0,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,...,0,0,0,0,0,0,0,0,0,0
2,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,...,0,0,0,0,0,0,0,0,0,0
3,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,...,0,0,0,0,0,0,0,0,0,0
4,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
data2=data2.drop(['venue'],axis='columns')

In [28]:
dummies2=pd.get_dummies(data2.bat_team)
dummies2.head()
data3=pd.concat([data2,dummies2],axis='columns')
data3=data3.drop(['bat_team'],axis='columns')
data3.head()

,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,...,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Mumbai Indians,Pune Warriors,Rajasthan Royals,Rising Pune Supergiant,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad
0,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [29]:
dummies3=pd.get_dummies(data3.bowl_team)
data4=pd.concat([data3,dummies3],axis='columns')
data4=data4.drop(['bowl_team'],axis='columns')
data4.head()

,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total,...,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Mumbai Indians,Pune Warriors,Rajasthan Royals,Rising Pune Supergiant,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad
0,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222,...,0,0,0,0,0,0,0,0,1,0
1,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222,...,0,0,0,0,0,0,0,0,1,0
2,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222,...,0,0,0,0,0,0,0,0,1,0
3,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222,...,0,0,0,0,0,0,0,0,1,0
4,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222,...,0,0,0,0,0,0,0,0,1,0

In [30]:
dummies4=pd.get_dummies(data4.batsman)
data5=pd.concat([data4,dummies4],axis='columns')
data5=data5.drop(['batsman'],axis='columns')
data5.head()

,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total,Barabati Stadium,...,X Thalaivan Sargunam,Y Nagar,Y Venugopal Rao,YA Abdulla,YK Pathan,YS Chahal,YV Takawale,Yashpal Singh,Yuvraj Singh,Z Khan
0,P Kumar,1,0,0.1,1,0,0,0,222,0,...,0,0,0,0,0,0,0,0,0,0
1,P Kumar,1,0,0.2,1,0,0,0,222,0,...,0,0,0,0,0,0,0,0,0,0
2,P Kumar,2,0,0.2,2,0,0,0,222,0,...,0,0,0,0,0,0,0,0,0,0
3,P Kumar,2,0,0.3,2,0,0,0,222,0,...,0,0,0,0,0,0,0,0,0,0
4,P Kumar,2,0,0.4,2,0,0,0,222,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
dummies5=pd.get_dummies(data5.bowler)
data6=pd.concat([data5,dummies5],axis='columns')
data6=data6.drop(['bowler'],axis='columns')
data6.head()

,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total,Barabati Stadium,Brabourne Stadium,...,WPUJC Vaas,Washington Sundar,Y Gnaneswara Rao,Y Nagar,Y Venugopal Rao,YA Abdulla,YK Pathan,YS Chahal,Yuvraj Singh,Z Khan
0,1,0,0.1,1,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0.2,1,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0.2,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,0,0.3,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0.4,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
data6.shape

(76014, 811)

In [33]:
x=data6.drop('total',axis='columns')
x.head()

,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,Barabati Stadium,Brabourne Stadium,Buffalo Park,...,WPUJC Vaas,Washington Sundar,Y Gnaneswara Rao,Y Nagar,Y Venugopal Rao,YA Abdulla,YK Pathan,YS Chahal,Yuvraj Singh,Z Khan
0,1,0,0.1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0.2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0.2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,0,0.3,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0.4,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
y=data6.total
y.head()

0    222
1    222
2    222
3    222
4    222
Name: total, dtype: int64

In [35]:
X_train, X_test, Y_train, Y_test= train_test_split(x,y, test_size=0.2, random_state=0)

In [36]:
model=RandomForestRegressor(n_estimators=100,random_state=0)

In [37]:
model.fit(X_train,Y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [43]:
print(model.score(X_test,Y_test))

0.953275723105838